{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ super() }}{% endblock %}
{% block body_attrib %}class="single"{% endblock %}
{% block content %}        

<section id="blog">
    <article class="post content">
        {% include "article_header.html" %}
        {{ article.content }}
    </article>

    <nav>
        {% if article.prev_article_in_category %}
            <a rel="prev" href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">{{ article.prev_article_in_category.title }}</a>
        {% endif %}
        {% if article.next_article_in_category %}
            <a rel="next" href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">{{ article.next_article_in_category.title }}</a>
        {% endif %}
    </nav>
</section>

{% endblock %}
