{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block body_attrib %}class="index"{% endblock %}
{% block content %}        

<section id="blog" class="content">
    <h1>Posts</h1>
    {% for article in collations.blog_articles[:INDEX_ARTICLE_COUNT] %}

        {% set post_classes = loop.first and "first" or "summarized" %}

        <article class="post {{ post_classes }}">
            {% include 'article_header.html' %}

            {% if loop.first %}
                {{ article.content }}
            {% else %}
                {{ article.summary }}
                <nav>
                    <a href="{{ SITEURL }}/{{ article.url }}"><span class="label">Continue reading</span> &ldquo;{{article.title}}&rdquo;</a>
                </nav>
            {% endif %}
        </article>

    {% endfor %}
</section>

<section id="tweets" class="content">
    <h1>Thoughts</h1>
    {% for article in collations.tweets_articles[:INDEX_ARTICLE_COUNT] %}
        {% set post_classes = loop.first and "first" or "" %}

        <article class="tweet {{ post_classes }}">
            <header>
                <h1>{{ article.title }}</h1>
            </header>
        </article>
    {% endfor %}
</section>

{% endblock content %}
