{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block body_attrib %}class="index"{% endblock %}
{% block content %}        

{% if articles %}
<section id="blog" class="content">
    {% for article in articles %}        

        {% set post_classes = loop.first and "first" or "summarized" %}

        <article class="post {{ post_classes }}">
            {% include 'article_header.html' %}

            {% if loop.first %}
                {{ article.content }}
            {% else %}
                {{ article.summary }}
            {% endif %}
        </article>

    {% endfor %}
</section>
{% endif %}

{% endblock content %}
