{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block body_attrib %}class="index"{% endblock %}
{% block content %}        

{% if articles %}
<section id="blog" class="content">
    {% for article in articles %}        

        {% set post_classes = loop.first and "first" or "summarized" %}

        <article class="post {{ post_classes }}">
            <header>
                <h1><a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a></h1>
                {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
            </header>

            {% if loop.first %}
                {{ article.content }}
            {% else %}
                {{ article.summary }}
            {% endif %}
        </article>

    {% endfor %}
</section>
{% endif %}

{% endblock content %}
